*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:"playfairdisplay";
    src: url(../assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family:"raleway";
    src: url(../assets/Raleway/Raleway-VariableFont_wght.ttf);
}
$fuente: "raleway";
$fuentesecundaria: "playfairdisplay";
$colorprimario: #f0788c;
$colorsecundario: #e68895df;
$coloracento: #F2F2F2;


%configlinks{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
    border-radius: 50%;
}

%iconos{
    width: 24px;
    height: 24px;
}

%configcards{
    background-color: hsla(340, 100%, 54%, 1);
    background-image: radial-gradient(circle, rgb(242, 136, 154), rgb(241, 212, 217))
}

@keyframes efectologo{
    0%{ transform: rotate(-40deg);}
    20%{transform: rotate(-20deg);}
    40%{ transform: rotate(20deg)}
    60%{ transform: rotate(40deg)}
    80%{ transform: rotate(20deg)}
    100%{transform: rotate(-20deg);}
}
    


