.cards{
    width: fit-content;
    max-width: 300px;
    transform: scale(0.8);
    @extend%configcards;
    .precio{
        @extend%configcards;
        height: 30px;
    }
    .shopping-cart-treatment-link{
        @extend%configlinks;
    }
    .shopping-cart-treatment-icon{
        @extend%iconos;
    }    
    .favorites-link{
        @extend%configlinks;
    }
    .favorites-icon{
        @extend%iconos;
    }
}

.cardtestimonios{
    max-width: 540px;
    .imagentestimonio{
        width: 90%;
    }
}
