.imagenformulariocontacto{
    width: 400px;
    height: 300px;
}

.textoayudarte{
    font-family: $fuente;
    color: $colorprimario;
    font-size: 2rem;
}

.contenedorcontacto{
    background-color: rgb(231, 181, 181);
    margin-top:100px;
    margin-bottom: 50px;
    .botonformcontacto{
        background-color: $colorprimario; 
        font-family: $fuente;
        margin-bottom: 20px;
        &:hover{
            background-color: $colorprimario;
        }
    }
    .itemsformulario{
        font-family: $fuente;
    }
}

.columnacontacto{
    margin-left: 40px;
}

.whatsapp-button{
    display:inline-block;
    position: fixed;
    bottom: 120px;
    right: 60px;
    .whatsapp-icon{
        width: 50px;
        height:50px;
        margin-right: 5px;
    }
    .whatsapp-link:hover{
        background-color: transparent;
    }
}

iframe{
    margin-top: 10px;
    align-items: center;
}
