body{
    background-color: hsla(185, 0%, 100%, 1);
    background-image: radial-gradient(circle at 91% 11%, hsla(66, 100%, 88%, 0.66) 4.038772213247173%, transparent 37.2265767974114%), radial-gradient(circle at 66% 37%, hsla(16, 100%, 88%, 1) 0%, transparent 63.33640956108327%), radial-gradient(circle at 36% 87%, hsla(321, 100%, 88%, 1) 12.107536057085522%, transparent 63.33640956108327%);
    background-blend-mode: normal, normal, normal;
    font-size: 16px;
    h1{
        font-family: $fuente;
        color: $colorprimario;
    }
    p{
        font-family: $fuente;
        font-size: 1rem;
    }
}

.menunavegacion{
    background-color: $colorprimario;
    a{
        text-decoration: none;
        &:hover{
            background-color: rgba(230, 136, 149, 0.874);
        }
    }
    .shopping-cart-icon{
        width: 24px;
        height: 24px;
        margin-top: 7px;
    }
}

footer{
    background-color: rgba(230, 136, 149, 0.874);
    .formulariofooter{
        height: 20px;
        min-width:150px
    }
    .textosfooter{
        font-size: 0.8rem;
    }
    .botonnewsletter{
        background-color: $colorprimario; 
        font-size: 0.8rem;
        padding: 0;
        &:hover{
            background-color:$colorprimario; 
        }
    }
    a{
        text-decoration: none;
        &:hover{
            background-color: $colorprimario;
        }
    }
}