body{
    background-color: hsla(185, 0%, 100%, 1);
    background-image: radial-gradient(circle at 91% 11%, hsla(66, 100%, 88%, 0.66) 4.038772213247173%, transparent 37.2265767974114%), radial-gradient(circle at 66% 37%, hsla(16, 100%, 88%, 1) 0%, transparent 63.33640956108327%), radial-gradient(circle at 36% 87%, hsla(321, 100%, 88%, 1) 12.107536057085522%, transparent 63.33640956108327%);
    background-blend-mode: normal, normal, normal;
    font-size: 16px;
    h1{
        font-family: $fuentesecundaria;
        color: $colorprimario;
    }
    h2{
        font-family: $fuente;
    }
    p{
        font-family: $fuente;
        font-size: 1rem;
    }
}

.menunavegacion{
    background-color: $colorprimario;
    a{
        text-decoration: none;
        font-family: $fuente;
        &:hover{
            background-color:$coloracento;
        }
    }
    .shopping-cart-icon{
        @extend%iconos;
        margin-top:7px;
        position: relative;
    }
}

footer{
    background-color: $colorsecundario;
    height: 100%;
    .newsletter{
        margin-top: 20px;
    }
    .formulariofooter{
        height: 30px;
        min-width:150px;
        margin-bottom: 10px;
    }
    .textosfooter{
        font-size: 1rem;
        font-family: $fuente;
    }
    .botonnewsletter{
        background-color: $colorprimario; 
        font-family: $fuente;
        font-size: 1rem;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color:$colorprimario; 
        }
    }
    a{
        text-decoration: none;
    }
    .iconoinstragram{
        width: 50px;
        height: 50px;
        margin: 30px 20px;
    }
    .iconofacebook{
        width: 50px;
        height: 50px;
        margin: 30px 20px;
    }
}