.imagenlogo{
    width: 25%;
    height: 25%;
}

.containercarrousel{
    max-width: 600px;
}

.logo{
    animation-name: efectologo;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-delay: 0s;
}