@media (max-width: 768px){
    .inicioproductos img{
        height: auto;
    }
    .inicioproductos .textosobreimagenproducto{
        font-size: 18px;
        padding: 5px;
    }
    .imagenlogo{
        width: 50%;
        height: 50%;
    }
    .whatsapp-button{
        right: 1px;
        margin-bottom: 100px;
    }
    body p{
        font-size: 1.25rem;
    }
    .comoayudarte{
        margin-top: 20px;
    }
    .columnacontacto{
        margin-left: 0%;
    }
    .contenedorcontacto{
        width:95%;
    }
    iframe{
        width:100%;
    }
    .cards{
        transform: scale(1);
        width: 80%;
        max-width: none;
        margin: 16px;
    }
}

@media (max-width: 320px){
    .whatsapp-button{
        right: 1px;
    }
}
