@media (max-width: 767px){
    .inicioproductos img{
        height: auto;
    }
    .inicioproductos .textosobreimagenproducto{
        font-size: 18px;
        padding: 5px;
    }
    .imagenlogo{
        width: 50%;
        height: 50%;
    }
    .cardClaudia{
        margin-left: 20%;
    }   
    .whatsapp-button{
        right: 1px;
        bottom: 50px;
    }
    body p{
        font-size: 1.25rem;
    }
    .columnacontacto{
        margin-left: 0%;
    }
}

@media (max-width:425px){
    iframe{
        width:300px;
        height: 150px;
    }
}

@media (max-width: 320px){
    .whatsapp-button{
        right: 1px;
        bottom: 70px;
    }
}
