
.ventanaSesion {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}


.modalSesion {
    background-color: rgb(194, 142, 142);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 5px;
    text-align: center;
}


.close-btn {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: $colorprimario;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: $colorprimario;
}

.badge{
    background-color: $coloracento;
    color: black;
}

.tituloProductos{
    margin-top: 50px;
}

.inicioproductos{
    position: relative;
    width: 100%;
    img{
        width: 100%;
        height: 350px;
    }
    .textosobreimagenproducto{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        text-align: center;
        word-wrap: break-word;
        padding: 10px;
        max-width: 90%;
    }
}

.cardproducto{
    display: flex;
    justify-content: center;
}

/* Styles para el modal */
.modal-body {
    max-height: 300px;
    overflow-y: auto;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item button {
    background-color: $colorprimario;
    color: black;
    &:hover{
        background-color: $colorprimario;
    }
}

.botonCarrito{
    background-color: $colorprimario;
    &:hover{
        background-color: $colorprimario;
    }
}

.botonCarrito2{
    background-color: rgb(146, 1, 1);
    &:hover{
        background-color:  rgb(146, 1, 1) ;
    } 
}

#search-input {
    padding: 10px;
    width: 300px; 
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #f5bcbc;
}


#productos-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.btnCards{
    background-color: $colorprimario;
    &:hover{
        background-color: $colorsecundario;
    }
}

.productosContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

@media (max-width: 425px) {
    .productosContainer {
        grid-template-columns: 1fr; 
        justify-items: center;
    }
}